header {
  height: 50px;
  line-height: 50px;
  background-color: $primary-color;
  .inner-container {
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width:320px ) and (max-width:767px) {
      padding: 0px 10px;
    }
    .social-icon {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 22px;
      @media screen and (min-width:320px ) and (max-width:767px) {
        grid-template-columns: 13px 13px 13px;
        grid-gap: 8px;
      }
     a {
        i {
            color: $social-icon-color;
            &:hover{
                opacity: 0.7;
            }
          }
     }
    }
    input {
      width: 50px;
      height: 50px;
      background-color: $input-bg;
      color: $primary-color;
    }
    .login-signup-btn {
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      grid-gap: 10px;
      @media screen and (min-width:320px ) and (max-width:767px) {
        grid-gap: 5px;
      }
      button {
        width: 90px;
        height: 50px;
        cursor: pointer;
        color: $white-color;
        border-radius: 0;
        font-size: 14px;
        font-weight: 400;
        @media screen and (min-width: 320px) and (max-width: 767px) {
          width: 80px;
         }
      }
      .search-box {
        height: 50px;
        position: relative;
        i {
          color: $white-color;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      button.login-btn {
        background-color: $login-btn-color;
        &:hover {
            background-color: $login-btn-hover;
            transition: 0.3s all ease-in;
        }
      }
      .signup-btn {
        background-color: $primary-color;
        &:hover {
            background-color: $signup-btn-hover;
            transition: 0.3s all ease-in;
        }
      }
    }
  }
}
