$primary-color: #490158;
$dark-color: #000;
$white-color: #fff;
$login-btn-color: #cd977a;
$social-icon-color: #a37fab;
$input-bg: #6d3479;
$footer-bar-bg: #ba857b;
$footer-menu-bg: #e6eaee;
$banner-bg-color: #faf5f2;
$agency-btn-color: #d7ac95;
$postal-field-color: #ede6ef;
$step-text-color: #e5cabc;
$login-btn-hover: #a47861;
$signup-btn-hover: #7f4d8a;
// $menu-hover:#3a0046;
$menu-hover: #a480ab;
